*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game{
  width: 100%;
}


.image-relative{
  position: relative;
}


.input-username{
  position: absolute;
  left: 35%;
  top: 20%;
  width: 40rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  flex-direction: column;
  align-items: center;

}

.input-username input, button{
  width: 15rem;
}