*{
  padding: 0;
  margin: 0;
}


.game{
 display: grid;
 grid-template-columns: 1fr 3fr;
}

.input-username{
  position: absolute;
  left: 35%;
  top: 20%;
  width: 40rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px); 
}

.input-username input, button{
  width: 15rem;
}