*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game{
  width: 100%;
  display: flex;
  justify-content: center;
}


.image-relative{
  position: relative;
}


.input-username input, button{
  width: 15rem;
}


button{
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  margin: 0.3rem;
}